:root {
    --clr-white: hsl(0, 0%, 98%);
    --clr-gray: hsl(0, 0%, 41%);
    --clr-black: hsl(0, 0%, 8%);

    --font-main: "Epilogue", sans-serif;
    --font-medium: 500;
    --font-bold: 700;

    --text-sm: 0.875rem;
    --text-sm-2: 0.9375rem;
    --text-base: 1rem;
    --text-md: 1.125rem;
    --text-lg: 2.25rem;
    --text-xl: 3rem;
    --text-xl-4: 4rem;
    --text-xl-8: 5rem;

    --leading-none: 1;
    --leading-heading-1: calc(1em + 0.0625rem);
    --leading-paragraph: 1.625rem;

    --tracking-heading-1: -0.01em;
    --tracking-body: 0.004em;

    --rounded-full: 9999px;
    --rounded-lg: 0.875rem;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    -webkit-font-smoothing: antialiased;
    line-height: var(--leading-none);
    font-family: var(--font-main);
    font-weight: var(--font-medium);
    color: var(--clr-gray);
    background-color: var(--clr-white);
    min-height: 100vh;
}
ul {
    list-style: none;
    padding-left: 0;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
textarea,
select {
    font: inherit;
}
button {
    border: none;
    padding: 0;
    background-color: transparent;
    color: inherit;
    font: inherit;
    cursor: pointer;
    letter-spacing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    color: var(--clr-black);
}
p {
    overflow-wrap: break-word;
}
a {
    text-decoration: none;
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
}
[hidden] {
    display: none !important;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    width: min(100% - 2rem, 85rem);
    margin: 0 auto;
    position: relative;
    z-index: 999;
}
.nav__menu__container {
    display: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 3.875rem;
    font-size: var(--text-sm-2);
    letter-spacing: -0.04em;
}
.nav__go-to-mobile-menu {
    background-color: var(--clr-black);
    color: var(--clr-white);
    border-radius: var(--rounded-lg);
    padding: 0.75rem 1rem;
    font-size: var(--text-sm);

    width: max-content;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    pointer-events: none;
    opacity: 0;
}
.nav__menu__wrapper {
    display: flex;
    gap: 2.4375rem;
}
.nav__menu__item {
    position: relative;
}
.nav__menu__btn,
.nav__menu__link {
    transition: color 150ms ease;
}
.nav__menu__btn {
    display: flex;
    align-items: center;
    transition: transform 200ms ease;
}
.nav__menu__btn[aria-expanded="true"] .nav__menu__link--icon {
    transform: rotate(180deg);
}
.nav__menu__btn--icon {
    margin-left: 0.5rem;
    transition: transform 200ms ease;
}
.nav__features__wrapper {
    background-color: var(--clr-white);
    opacity: 0;
    position: absolute;
    pointer-events: none;
    top: calc(100% + 1.3125rem);
    right: 0;
    padding: 1.5rem 1.625rem 1.5rem 1.5rem;
    box-shadow: 0px 25px 40px 8px rgba(0, 0, 0, 0.1);
    border-radius: var(--rounded-lg);
}
.nav__features__item:not(:last-child) {
    margin-bottom: 1rem;
}
.nav__features__item {
    width: max-content;
}
.nav__features__link {
    transition: color 150ms ease;
    display: flex;
    align-items: center;
}
.nav__features__link--icon {
    height: 1rem;
    width: 1rem;
    object-fit: contain;
    margin-right: 0.875rem;
}
.nav__company__wrapper {
    background-color: var(--clr-white);
    opacity: 0;
    position: absolute;
    pointer-events: none;
    top: calc(100% + 1.3125rem);
    left: 0;
    padding: 1.5rem 1.625rem 1.5rem 1.5rem;
    box-shadow: 0px 25px 40px 8px rgba(0, 0, 0, 0.1);
    border-radius: var(--rounded-lg);
}
.nav__company__item {
    width: max-content;
}
.nav__company__item:not(:last-child) {
    margin-bottom: 1.0625rem;
}
.nav__company__link {
    transition: color 150ms ease;
}
.nav__account__wrapper {
    display: flex;
}
.nav__account__item {
    width: 100%;
}
.nav__account__link {
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    padding: 0.75rem 1.375rem 0.8125rem 1.375rem;
    border-radius: var(--rounded-lg);
    width: 100%;
    transition-property: color, background-color, border-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}
.nav__account__item:not(:first-child) {
    margin-left: 1.1875rem;
}
.nav__account__link.register {
    border-color: var(--clr-black);
}

#mobile-menu-btn {
    z-index: 999;
    position: relative;
    padding-top: 1px;
    min-height: 1.6875rem;
}
#mobile-menu-btn span {
    display: block;
    width: 2rem;
    height: 0.125rem;
    background-color: var(--clr-black);
    transition: transform 250ms ease;
}
#mobile-menu-btn span:nth-child(2) {
    margin: 0.375rem 0;
}
#mobile-menu-btn.opened span:nth-child(1) {
    transform: rotate(45deg) translateY(1px);
}
#mobile-menu-btn.opened span:nth-child(2) {
    display: none;
}
#mobile-menu-btn.opened span:nth-child(3) {
    transform: rotate(-45deg) translateY(-1px);
}

.header__container {
    width: 100%;
    max-width: 73.75rem;
    margin: 0 auto;
}
.header__intro {
    text-align: center;
    padding: 3.125rem 1rem 5.875rem 1rem;
}
.header__intro__title {
    font-size: var(--text-xl);
    letter-spacing: var(--tracking-heading-1);
    margin-bottom: 1.125rem;
}
.header__intro__description {
    font-size: var(--text-base);
    line-height: calc(1em + 0.625rem);
    margin-bottom: 1.5rem;
}
.header__intro__client__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 29.9375rem;
    margin: 0 auto;
}
.header__intro__client__item:nth-child(1) img {
    max-height: 0.9375rem;
}
.header__intro__client__item:nth-child(2) img {
    max-height: 1.625rem;
}
.header__intro__client__item:nth-child(3) img {
    max-height: 0.9375rem;
}
.header__intro__client__item:nth-child(4) img {
    max-height: 1.125rem;
}
.header__intro__cta-btn {
    margin: 0 auto 3rem auto;
    display: block;
    width: fit-content;
    padding: 1rem 1.1875rem 0.875rem 1.4375rem;
    border: 1px solid var(--clr-black);
    border-radius: var(--rounded-lg);
    letter-spacing: 0.005em;
    background-color: var(--clr-black);
    color: var(--clr-white);
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.mobile-menu__dialog {
    position: absolute;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.mobile-menu__inner {
    padding: 5.1875rem 1.5rem 1.5rem 1.5rem;
    background-color: var(--clr-white);
    font-size: var(--text-base);
    width: calc(24000% / 375);
    height: 100%;
    float: right;
}
.mobile-menu__wrapper {
    margin-bottom: 1.5rem;
}
.mobile-menu__item:not(:last-child) {
    margin-bottom: 1.625rem;
}
.mobile-menu__btn,
.mobile-menu__link {
    transition: color 150ms ease;
}
.mobile-menu__btn {
    display: flex;
    align-items: center;
    transition: transform 200ms ease;
}
.mobile-menu__btn[aria-expanded="true"] .mobile-menu__menu__link--icon {
    transform: rotate(180deg);
}
.mobile-menu__btn--icon {
    margin-left: 0.5rem;
    transition: transform 200ms ease;
}
.mobile-menu__features__wrapper {
    padding-left: 1.4375rem;
    overflow: hidden;
}
.mobile-menu__features__wrapper::before {
    display: block;
    content: "";
    height: 1.9375rem;
}
.mobile-menu__features__wrapper::after {
    display: block;
    content: "";
    height: 0.4375rem;
}
.mobile-menu__features__item:not(:last-child) {
    margin-bottom: 1rem;
}
.mobile-menu__features__item {
    width: max-content;
}
.mobile-menu__features__link {
    transition: color 150ms ease;
    display: flex;
    align-items: center;
}
.mobile-menu__features__link--icon {
    height: 1.25rem;
    width: 1.25rem;
    object-fit: contain;
    margin-right: 0.875rem;
}
.mobile-menu__company__wrapper {
    padding-left: 1.5rem;
    overflow: hidden;
}
.mobile-menu__company__wrapper::before {
    display: block;
    content: "";
    height: 2.125rem;
}
.mobile-menu__company__wrapper::after {
    display: block;
    content: "";
    height: 0.5rem;
}
.mobile-menu__company__item:not(:last-child) {
    margin-bottom: 1.0625rem;
}
.mobile-menu__company__link {
    transition: color 150ms ease;
}
.mobile-menu__account__item {
    width: 100%;
}
.mobile-menu__account__link {
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    padding: 0.75rem 1.375rem 0.8125rem 1.375rem;
    border-radius: var(--rounded-lg);
    font-size: var(--text-sm-2);
    width: 100%;
    transition-property: color, background-color, border-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}
.mobile-menu__account__item:not(:last-child) {
    margin-bottom: 0.3125rem;
}
.mobile-menu__account__link.register {
    border-color: var(--clr-black);
}
@media (hover: hover) {
    .header__intro__cta-btn:hover {
        color: var(--clr-black);
        background-color: var(--clr-white);
    }
    .nav__features__link:hover,
    .nav__company__link:hover,
    .nav__menu__btn:hover,
    .nav__menu__link:hover {
        color: var(--clr-black);
    }
    .nav__menu__btn:hover .nav__menu__btn--icon path {
        stroke: var(--clr-black);
    }
    .nav__account__link:hover {
        background-color: var(--clr-black);
        color: var(--clr-white);
        border-color: var(--clr-black);
    }

    .mobile-menu__features__link:hover,
    .mobile-menu__company__link:hover,
    .mobile-menu__btn:hover,
    .mobile-menu__link:hover {
        color: var(--clr-black);
    }
    .mobile-menu__btn:hover .mobile-menu__btn--icon path {
        stroke: var(--clr-black);
    }
    .mobile-menu__account__link:hover {
        background-color: var(--clr-black);
        color: var(--clr-white);
        border-color: var(--clr-black);
    }
}

@supports selector(:active) {
    button {
        transition: transform 200ms ease;
    }
    button:active {
        transform: scale(0.95);
    }
}

@supports selector(:focus-visible) {
    button:focus-visible,
    a:focus-visible {
        outline: 2px dashed var(--clr-black);
        outline-offset: 4px;
    }

    .nav__go-to-mobile-menu:focus-visible {
        opacity: 0.5;
    }
}

@supports selector(:focus-within) {
    .nav__company__wrapper:focus-within,
    .nav__features__wrapper:focus-within {
        opacity: 1;
        outline: 2px solid var(--clr-gray);
        outline-offset: 4px;
    }
    .mobile-menu__dialog:focus-within {
        opacity: 1;
    }
}

@media screen and (min-width: 54em) {
    .nav__go-to-mobile-menu {
        display: none;
    }
    .mobile-menu__dialog {
        display: none;
    }
    .nav__container {
        padding: 1.3125rem 0 1.6875rem 0.0625rem;
    }
    .nav__logo {
        padding-top: 6px;
    }
    .nav__menu__container {
        display: flex;
    }

    #mobile-menu-btn {
        display: none;
    }
    .header__container {
        padding-top: 2.5rem;
        width: calc(100% - 2rem);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .header__image {
        width: 50%;
        max-width: 30rem;
    }
    .header__intro {
        width: 50%;
        max-width: 35rem;
        padding: 3rem 2rem 3rem 0;
        text-align: start;
    }
    .header__intro__title {
        font-size: var(--text-xl-8);
        line-height: calc(1em + 0.0625rem);
    }
    .header__intro__description {
        font-size: var(--text-md);
        max-width: 43ch;
    }
    .header__intro__cta-btn {
        font-size: var(--text-md);
        margin: 0 0 3rem 0;
        padding: 1.1875rem 1.625rem 1.0625rem 1.9375rem;
    }
    .header__intro__client__list {
        margin: 0;
    }
}

@media screen and (min-width: 64em) {
    .header__intro {
        padding: 6.4375rem 0 7.625rem 2.1875rem;
    }
    .header__intro__title {
        margin-bottom: 3rem;
    }
    .header__intro__description {
        margin-bottom: 3.1875rem;
    }
    .header__intro__cta-btn {
        margin-bottom: 6.75rem;
    }
    .header__intro__client__item img {
        max-height: none !important;
    }
}
